<div ng-controller="ProposedRouteController as ctrl">

    <div class="container panel panel-default">
        <div class="row panel-heading">
            <div class="col-md-6">
                <h3> Route Number: {{ctrl.route_data.id}} </h3>
            </div>
            <div class="col-md-6">
                <h3 style="text-align:left">{{ctrl.route_data.startAddress}} - {{ctrl.route_data.endAddress}}  </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th ng-repeat="stop in ctrl.stops">{{stop}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="time in ctrl.times">

                            <td ng-repeat="Atime in time">{{Atime}}</td>

                        </tr>
                        <tr>

                        </tr>


                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div style="width:100%; height:200px; margin: 10px;" id="Amap"></div>
            </div>
        </div>
    </div>

    <div class="container well">
        <div class="row">
            <textarea style="width: 100%;" rows="5" cols="120" ng-model="ctrl.comment"></textarea>
        </div>
        <div class= "row">
            <div class="pull-right" style = "padding: 10px;">
                <input type="submit" value="Submit Comment" ng-click="ctrl.submitComment()" class="btn btn-primary">
            </div>
        </div>
    </div>



    <div class="commentbox container panel panel-default" style="padding: 8px;" ng-repeat="comment in ctrl.comments | orderBy:ctrl.orderProp">
        <div class="row">
            <!-- <div class="col-md-1">
                <div class="row" style="margin-bottom: 1px invisible">
                    <div class="col-md-1">
                        <span ng-click="ctrl.upVote(comment)" ng-style="comment.upColor" style="display: table; margin: auto; font-size: 20px" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>

                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col-md-1">
                        <span ng-click="ctrl.downVote(comment)" ng-style="comment.downColor" style="display: table; margin: auto; font-size: 20px" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>

                    </div>
                </div>
            </div> -->
            <div class="col-md-11">
                <p> {{comment.text}}</p>
            </div>
        </div>
    </div>
</div>
