<footer class="footer">
    <div class="container">
        <p class="text-muted">Created by Andrew Hart, Chris Chevaleir, and Kevin Cotter for credit in the WWW App Development course taught by Jones Yu @ Wentworth Institute of Technology, Summer 2017
        </p>
    </div>
</footer>
