<footer class="footer">
    <div class="container">
        <p class="text-muted">Created by Andrew Hart, Chris Chevaleir, and Kevin Cotter for credit in a course taught by Jones Yu @ Wentworth Institute of Technology
        </p>
    </div>
</footer>
