<html>

<head>
    <% include ../partials/head %>
        <script src="js/commutes.js"></script>
</head>

<body>
    <!-- navigation bar -->
    <div class="container">
        <% include ../partials/menu %>
    </div>

    <!-- Create Commute Form -->

    <div class="container" id="content">
        <div id="error" class="error"></div>
        <div id="panel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">555 Huntington Ave Boston, MA to 610 Huntington Ave Boston</h3>
            </div>
            <div class="panel-body">
                Monday, Wednesday Thursday and Sunday leaving at 10am
            </div>
        </div>
    </div>

    <% include ../partials/footer %>

</body>

</html>
