<html>

<head>
    <% include ../partials/head %>
        <script src="js/commutes.js"></script>
</head>

<body>
    <!-- navigation bar -->
    <div class="container">
        <% include ../partials/menu %>
    </div>

    <!-- Create Commute Form -->

    <div class="container">
        <div class="pull-left">
            <h2>Your Submited Commutes</h2>
        </div>
        <div class="pull-right">
            <a href="/create_commute"><button class="btn btn-primary">Submit Another</button></a>
        </div>
    </div>

    <div class="container" id="content">

        <div id="panel" class="panel panel-default">
            <div  class="panel-heading">
                <h3 class="panel-title pull-left">
                    <span class="start"></span>
                    <i> To </i>
                    <span class="end"></span>
                </h3>
                <button class="btn btn-warning pull-right">X</button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">Panel content</div>
        </div>

        <div id="error" class="error"></div>

    </div>

    <% include ../partials/footer %>

</body>

</html>
