<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<!-- navigation bar -->
<div class="container">
    <% include ../partials/menu %>
</div>

<!-- Create Commute Form -->

<div class="container">
    <form>
        <div class="col-md-6">
            <div class="form-group">
                <label for="startAddress">Start Address</label>
                <input type="text" class="form-control" id="startAddress" placeholder="Start Address">
            </div>
            <div class="form-group">
                <label for="endAddress">End Address</label>
                <input type="text" class="form-control" id="endAddress" placeholder="End Address">
            </div>
		<div style="width:400px; height:200px;" id="Amap"></div>
          </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label for="startTime" class="col-2 col-form-label">Start Time</label>
                <div class="col-10">
                    <input class="form-control" type="time" value="13:45:00" id="startTime">
                </div>
            </div>
            <div class="form-group row">
                <label for="endTime" class="col-2 col-form-label">End Time</label>
                <div class="col-10">
                    <input class="form-control" type="time" value="13:45:00" id="endTime">
                </div>
            </div>
            <!-- Days checkboxs start -->
            <div class="form-group row">
                <label> Days of the Week </label>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="sunday"> S
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="monday"> M
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="tuesday"> T
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="wednesday"> W
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="thursday"> Th
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="friday"> F
                    </label>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="sunday"> S
                    </label>
                </div>
            </div>
            <!-- Days checkboxs end -->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include ../partials/footer %>

<script>
	function initMap(){
		var directionService = new google.maps.DirectionsService;
		var directionDisplay = new google.maps.DirectionsRenderer;

	var map = new google.maps.Map(document.getElementById('Amap'), {
		zoom: 7,
		center: {lat: 41.85, lng: -87.65}
	});

	directionDisplay.setMap(map);
	var onChangeHandler = function(){
		if(!(document.getElementById('startAddress').value === '' || document.getElementById('endAddress').value === '')){

			calculateAndDisplayRoute(directionService, directionDisplay);
		}
	}
	document.getElementById('startAddress').addEventListener('blur', onChangeHandler);
	document.getElementById('endAddress').addEventListener('blur', onChangeHandler);

	function calculateAndDisplayRoute(directionsService, directionDisplay) {
        	directionsService.route({
          		origin: document.getElementById('startAddress').value,
          		destination: document.getElementById('endAddress').value,
          		travelMode: 'DRIVING'
        	}, function(response, status) {
         		 if (status === 'OK') {
            			directionDisplay.setDirections(response);
          		} else {
            			window.alert('Directions request failed due to ' + status);
          		}

		});

      	  }
	}





</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOnmeOfTKrMCM9fwH15jBJ1jnMaR49YI&callback=initMap">
    </script>

</body>
</html>
