 <html >
 <head>
     <% include ../partials/head %>
     <script src="js/proposed_route_changes_angular.js"></script>
 </head>
 <body ng-app="routeList">
 <!-- navigation bar -->
 <div class="container">
     <% include ../partials/menu %>


 <!--Content-->
 <div>


     <routes-list></routes-list>

 </div>

 </div>

 <!-- Sticky footer -->
<% include ../partials/footer %>



 </body>
 </html>
