<head>
    <% include ../partials/head %>
    <script src="js/logout.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOnmeOfTKrMCM9fwH15jBJ1jnMaR49YI&callback"></script>
    <script src="js/proposed_route_changes_details.js"></script>
    <script src="js/redirect_if_not_logged_in.js"></script>
</head>

<body ng-app='routeDetail'>

    <div class="container">
        <% include ../partials/menu %>
    </div>
    <route-comments> </route-comments>

    <% include ../partials/footer %>

</body>
